<body class="hats" data-user-name="{{userName}}" data-logged-in-user-id="{{loggedInUserId}}" data-user-id="{{userId}}">

<div class="container mt-5">
    <h1>Profile</h1>
    <div class="row">
        <div class="col-md-4">
            <!-- Check if profilePicture exists, else show a placeholder -->
            {{#if profilePicture}}
            <img src="{{profilePicture}}" alt="Profile Picture" class="img-thumbnail" id="profile-picture">
            {{else}}
            <img src="/path/to/default/profile/image.png" alt="Default Profile Picture" class="img-thumbnail" id="profile-picture">
            {{/if}}
            {{#unless myProfile}}
            <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
            {{/unless}}
        </div>
        <div class="col-md-8">
            <h2>{{userName}}</h2>
            <p>Name: {{name}}</p>
            <p>Bio: {{bio}}</p>
            {{#unless isFollowing}}
            <button id="followButton" class="btn btn-primary" data-user-id="{{userId}}" data-follower-id="{{loggedInUserId}}">Follow</button>
            {{else}}
            <button id="unfollowButton" class="btn btn-primary" data-user-id="{{userId}}" data-follower-id="{{loggedInUserId}}">Unfollow</button>
            {{/unless}}
            <h3>Posts</h3>
            <ul class="list-group">
                {{#each posts}}
                <li class="list-group-item">
                    <h3>Title</h3>
                    <p>{{this.title}}</p>
                    <h4>Content</h4>
                    <p>{{this.content}}</p>
                    <!-- Optionally, format date for better readability -->
                    <small>{{format_date this.createdAt}}</small>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="/js/otherProfile.js"></script>
