<body class="hats" data-user-name="{{userName}}" data-logged-in-user-id="{{loggedInUserId}}" data-user-id="{{userId}}">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            {{#if profilePicture}}
            <img src="{{profilePicture}}" alt="Profile Picture" class="img-fluid rounded-circle mb-3" id="profile-picture" style="max-width: 200px;">
            {{else}}
            <img src="/assets/maxresdefault.jpg" alt="Default Profile Picture" class="img-fluid rounded-circle mb-3" id="profile-picture" style="max-width: 200px;">
            {{/if}}
            {{#unless myProfile}}
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit Profile</button>
            {{/unless}}
        </div>
        <div class="col-md-8">
            <h1 class="mb-2">{{userName}}</h1>
            <p class="lead">Name: {{name}}</p>
            <p class="lead">Bio: {{bio}}</p>
            {{#unless isFollowing}}
            <button id="followButton" class="btn btn-success mb-3" data-user-id="{{userId}}" data-follower-id="{{loggedInUserId}}">Follow</button>
            {{else}}
            <button id="unfollowButton" class="btn btn-warning mb-3" data-user-id="{{userId}}" data-follower-id="{{loggedInUserId}}">Unfollow</button>
            {{/unless}}
            <h3>Posts</h3>
            <ul class="list-group list-group-flush">
                {{#each posts}}
                <li class="list-group-item">
                    <h4 class="mb-1">Title: {{this.title}}</h4>
                    <p class="mb-1">Content: {{this.content}}</p>
                    <small>{{format_date this.createdAt}}</small>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<script src="/js/otherProfile.js"></script>
</body>
